Repository camaraproject/WorkingGroups, pull requests merged in 2023-03, with the labels that each got.

#123 Draft release guidelines doc
  Commonalities/documentation/SupportingDocuments/CHANGELOG_TEMPLATE.md
  Commonalities/documentation/SupportingDocuments/Camara_Versioning_Guidelines.md
  Commonalities/documentation/images/CL.png
  Commonalities/documentation/images/versioning-pic.png
Labels: commonalities

#131 Update APIBacklog.md
  APIBacklog/documentation/APIBacklog.md
Labels: API Backlog

#120 Update Glossary.md
  Commonalities/documentation/Glossary.md
Labels: good first issue, commonalities
