Repository camaraproject/WorkingGroups, pull requests merged in 2023-06, with the labels that each got.

#216 Fix API-design-guidelines following issue 197
  Commonalities/documentation/API-design-guidelines.md
Labels: commonalities

#235 Create MOM-2023-06-01.md
  Commonalities/documentation/MeetingMinutes/MOM-2023-06-01.md
Labels: commonalities

#154 Pr/blockchain public address
  APIBacklog/documentation/SupportingDocuments/API proposals/APIproposal_BlockchainPublicAddress_Telefonica.md
  APIBacklog/documentation/SupportingDocuments/others/BlockchainPublicAddress.yaml
Labels: API Backlog

#238 Move Versioning doc under main documentation
  Commonalities/documentation/Camara_Versioning_Guidelines.md
  Commonalities/documentation/SupportingDocuments/CHANGELOG_TEMPLATE.md
Labels: commonalities

#221 Delete MOM-2023-02-02.md
  APIBacklog/documentation/MeetingMinutes/MOM-2023-02-02.md
Labels: API Backlog

#246 Update Events_2023.md
  Marketing/documentation/Events_2023.md
Labels: marketing

#250 Create MOM-2023-06-21.md
  Commonalities/documentation/MeetingMinutes/MOM-2023-06-21.md
Labels: commonalities

#209 Added new terms for the API Documentation
  Commonalities/documentation/Glossary.md
Labels: commonalities

#244 Update API-design-guidelines to specify use of POST or GET for sensitive data
  Commonalities/documentation/API-design-guidelines.md
Labels: commonalities
